<a href="https://colab.research.google.com/github/gustavoep/extra/blob/main/Importar_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import os

In [9]:
cwd = os.getcwd()
cwd

'/content'

In [10]:
def current_path():
    print("Current working directory before")
    print(os.getcwd())
    print()
current_path()

Current working directory before
/content

In [14]:
dados_excel = pd.read_excel("dadosteste.xlsx")
dados_excel.head()

,soc,355,356,357,358,359,360,361,362,363,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,0.79,0.0336,0.0339,0.0332,0.0308,0.0316,0.0328,0.0335,0.0330,0.0317,...,0.2566,0.2552,0.2551,0.2524,0.2519,0.2528,0.2507,0.2479,0.2458,0.2456
1,1.12,0.0388,0.0356,0.0334,0.0340,0.0358,0.0363,0.0362,0.0367,0.0350,...,0.2615,0.2611,0.2590,0.2586,0.2606,0.2598,0.2571,0.2573,0.2562,0.2528
2,1.25,0.0344,0.0316,0.0297,0.0303,0.0317,0.0317,0.0315,0.0319,0.0313,...,0.2405,0.2403,0.2388,0.2373,0.2368,0.2354,0.2352,0.2355,0.2362,0.2364
3,1.22,0.0490,0.0474,0.0463,0.0463,0.0475,0.0477,0.0479,0.0489,0.0483,...,0.2441,0.2440,0.2450,0.2440,0.2425,0.2410,0.2401,0.2396,0.2391,0.2397
4,0.90,0.0528,0.0514,0.0497,0.0493,0.0521,0.0528,0.0520,0.0514,0.0520,...,0.3156,0.3141,0.3115,0.3120,0.3138,0.3142,0.3137,0.3135,0.3126,0.3121